body {
    padding-top: 50px;
}
.starter-template {
    padding: 40px 15px;
    text-align: center;
}

table {
    border-collapse: collapse;
}

.probability {
}

td, th {
    border: 1px solid #999;
    padding: 0.5rem;
    text-align: center;
}
